.dark {
	background-color: #000000;
}
.dark:hover {
	color: #000000;
}
.light {
	background-color: #FFFFFF;
}
.light:hover {
	color: #FFFFFF;
}
.button {
	color: #00FFFF;
	border: 2px solid #00FFFF;
	text-align:center;
	padding: 15px 32px;
	font-size: 24px;
}
.button:hover {
	background-color: #00FFFF
}
.hiddendark{
	border: 2px solid #000000
	}
.hiddenlight{
	border:2px solid #FFFFFF
	}
.achieve {
	width:170px;
	height:170px;
	color:#00FF00;
	text-align:center;
	font-size:16px;
}
.achieve:hover {
	color:#0000FF
}
.achievecomplete {
	width:170px;
	height:170px;
	color:#00FFFF;
	text-align:center;
	font-size:16px;
}
.big {
	font-size:48px;
}
.nav {
	color:#e842f4;
	borde: 2px solid #e842f4;
	text-align:center;
	padding: 15px 32px;
	font-size:36px
	}
.nav:hover {
	background-color: #e842f4
	}
.green {
	color: #00FF00;
	border: 2px solid #00FF00;
	text-align:center;
	padding: 15px 32px;
	font-size: 24px
	}
.green:hover {
	background-color: #00FF00
}
.red {
	color: #FF0000;
	border: 2px solid #FF0000;
	text-align:center;
	padding: 15px 32px;
	font-size: 24px
	}
.red:hover {
	background-color: #FF0000
}
div {
  display: inline;
}
